{{#partial "content"}}
    <body>
<h3>List of endangered Animals</h3>

<div class="endanger">


<h4>Endangered Details</h4>
<p><strong>Animal's name:</strong>{{Ename}}</p>
<p><strong>Health's status:</strong>{{health}}</p>
 <p><strong>Age:</strong>{{Eage}}</p>
</div>
<style>
    body{
    background-image:url("images/endangered.jpeg";
      background-repeat:no-repeat;
    background-size:cover;
    font -size:20px;
    }
</style>

    </body>

{{/partial}}

{{> layout.hbs}}
