<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./styleS/app.css">
    <title>WILDLIFE-TRACKER</title>

</head>
<body>
<div class="title">
    <h2>WILDLIFE-TRACKER</h2>
    <P>Never Lost a track of jungle's animals</P>


</div>
<div style="text-center">
    <form action="/animal">
        <button type="submit" class="btn btn-default">Go Started!!</button>
    </form>
</div>
<style>
    body{
    background-image:url("images/home.jpeg");
    background-size:cover;
</style>

</body>
</html>
