{{#partial "content"}}
    <body>


    <div class="container text-center color-yellow">
        <h3>YOU HAVE SUCCESSFULY ADD THE ANIMAL IN SIGHTING ASSOCIATION </h3>

        <br><br>


    </div>


    <a  class="btn btn-success " href="/sightings">View Animal</a><br><br>
    <style>

.contianer{
text-align:center;
color:yellow;
}

</style>
    </body>
{{/partial}}
{{>layout.hbs}}