
{{#partial "content"}}
    <body>

    <div class="container">
        <h3>Add  Sighting Animal</h3>

        <div class="form" style="text-center">
            <form action="/sighting/new" method="post" class="form">

                <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label">Name of ranger</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="rangerName" name="rangerName" placeholder="name of ranger">
                    </div>
                </div>

<div class="form-group row">
    <label for="endangered" name="location" class="col-sm-2 col-form-label">Location</label>
    <div class="col-sm-10">
        <select class="form-control" id="age">
            <option>NE Quadrant</option>
            <option >Zone A</option>
            <option >Near river</option>
        </select>
    </div>
</div>
  <button type="submit">Submit</button>
</form>
        </div>
    </div>

    </body>
{{/partial}}
{{>layout.hbs}}