{{#partial "content"}}
    <body>


    <div class="container ">
        <h3>YOU HAVE SUCCESSFULY ADD THE ANIMAL IN SIGHTING ASSOCIATION </h3>

        <br><br>


    </div>


    <a  class="btn btn-success " href="/sightings">View Animal</a><br><br>
    <style>

.contianer{
text-align:center;
color:yellow;
background-color:url('images/elephant.jpeg');
background-size:cover;
background-repeat:no repeat;

}
a{
margin:80px;
}

</style>
    </body>
{{/partial}}
{{>layout.hbs}}