{{#partial "content"}}
    <body>
    <h3>List of sightings Animals</h3>

    <div class="endanger">


        <h4> Details</h4>
        <p><strong>Animal's name:</strong>{{name}}</p>
        <p><strong>Location:</strong>{{location}}</p>
        <p><strong>Range's name:</strong>{{rangeName}}</p>
    </div>
    <style>
    body{
    background-image:url("images/sightings.jpeg";
      background-repeat:no-repeat;
    background-size:cover;
    font -size:20px;
    }
</style>

    </body>

{{/partial}}
{{>layout.hbs}}