{{#partial "content"}}
    <body>

<img src="images/sightings.jpeg" alt="sightings" width="50%">
    <h3>List of sightings Animals</h3>

    <div class="endanger" style="text-align:center">


        <h4> Details</h4>
        <p><strong>Animal's name:</strong>{{name}}</p>
        <p><strong>Location:</strong>{{location}}</p>
        <p><strong>Range's name:</strong>{{rangeName}}</p>
        <p><strong>Time:</strong>{{whichtime}}</p>
    </div>
    <style>
    body{
    font -size:20px;
    }
    img{
    margin:50px;
</style>

    </body>

{{/partial}}
{{>layout.hbs}}