{{#partial "content"}}
<body>


    <div class="container text-center">
        <h3 >YOU HAVE SUCCESSFULY ADDED THE ANIMAL IN DATABASE</h3>

        <br>
    </div>

    <P style="font-style:20px">
        Is it Endangered or Sigthing,animal?
    </P>
    <a  class="btn btn-warning " href="/sighting">Sightings Animal</a><br><br>
    <a class="btn btn-warning "  href="/endnagered"> Endangered Animal</a><br><br>
    <a  class="btn btn-warning "href="/data">Continue </a>

    <style>
    container{
    background-image:url('');
    background-size:cover;
    }

    h3{
    color:yellow;}
    p{
    background-color:silver;
    opacity:0.9;
    color:golden;
    }


</style>

</body>
{{/partial}}
{{>layout.hbs}}